{% extends 'Blog/index.html' %}

{% block content %}


<div class="maincontainer">
    <div class="imagediv">
        <img src="{{place.image_one.url}}" alt="">
    </div>
    <div class="textdiv">
        <div class="heading_autor">
            <h1 class="headin">
                <span>{{place.name}}</span>
            </h1>
        </div>
        <p>{{place.description_one}}
        </p>
    </div>
</div>

<div class="maincontainer">
    <div class="textdiv">
        <div class="heading_autor">
            <h1 class="headin">
                <span>{{place.name}}</span>
            </h1>
        </div>
        <p>{{place.description_two}}
        </p>
    </div>
    <div style="height: 20rem;" class="imagediv">
        <img src="{{place.image_two.url}}" alt="">
    </div>
   
</div>

{% endblock content %}