{% load static %}
{% load class_name %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.css">
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.2.5/dist/locomotive-scroll.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200;1,300&display=swap" rel="stylesheet">

</head>
<body id="js-scroll">
    <div class="container">
    <header id="travelheder">
        <nav id="nav">
            <a href="{% url 'blog:top_blog_list'%}">
            <div class="logo-div social">
                hello
            </div></a>
           
            <ul class="nav__links">
                <li class="blog-item blogs cool-link"><a href="{% url 'blog:all_blog_list' %}">Blogs</a></li>
                <li class="blog-item travels cool-link" ><a href="{% url 'places:all_places_list' %}">Travel</a></li>
                <li class="blog-item me cool-link"><a href="{% url 'blog:me' %}">Me</a></li>
                <div class="search-icon"><ion-icon class="icon" name="search-sharp"></ion-icon>
            </ul>
            <div class="social-media">
                <a  class="social sociall" href="" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="social sociall" href="facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a class="social sociall" href="twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </nav>
    </header>

  {% block content %}
  
    
    <main class="main">
        
        <div class="right column">
            <div class="wrapper">
                <div class="loader"></div>
            </div>
            <div class="square_one square">
                <div class="heading_author">
                    <h1 class="heading">
                        <span class="big">I</span>
                        <span>nayat</span>
                        <span class="big" >B</span>
                        <span>ashir</span>
                    </h1>
                </div>
                <div class="about_author">
                    <p>
                        Born to the family of nobles, i never knew i was going to turn to a whole different species than what people thought of nobles, isnt it the most weird introduction you have ever heard well this website is all about that shit. :/
                    </p>
                    <div class="learn-more">
                        <a href="{% url 'blog:me'%}">Learn More</a>
                    </div>
                </div>
                <div class="image_mirage">
                    <div class="composition">
                        <img src="{% static './images/07.jpeg'%}" alt="Photo 1" class="composition__photo composition__photo--p1">
                        <img src="{% static './images/08.jpg'%}" alt="Photo 2" class="composition__photo composition__photo--p2">
                        <img src="{% static './images/09.jpg'%}" alt="Photo 3" class="composition__photo composition__photo--p3">
                    </div>
                </div>
                
            </div>
                
        </div>
    </div>
</div>
<section class="blogs-section">
    <div class="u-center-text ">
        <h2 class="header">
           THE BLOGS
        </h2>
    </div>
    

<div class="smooth-scroll-wrapper">
    <div class="content">
       
        {% with object|class_name as klass %}
        
        {% for object in object_list %}
        {% if  object|class_name == 'Blog' %}
        <div class="containerr">
            <div class="imgg">
                <img src="{{ object.image_one.url }}  "/>
            </div>
            <div class="text_all">
                <h1 class="text">{{object.name}}</h1>
                <small class="text">{{object.duration|safe}}*</small>
                <p class="text">
                    {{object.body|safe|truncatechars:150}}
                </p>
                <div class="continuee">
                    
                    <a href="{% url 'blog:detail_blog' pk=object.pk %}" class="continue">Continue Reading...</a>
                
            </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
      
    </div>
</div>
</section>

<section class="travel">
    {% for object in object_list %}
{% if object|class_name == 'Places' %}
    <div class="mytravel">
        <h2 class="u-center-text">
            TRAVEL WITH ME
        </h2>
    </div>



<div 
    style = "min-height: 300px;
            background-image: url('{{ object.image_one.url }}');
            background-size: cover" 
            class="box-one box">
    <div class="u-center-text ">
        <h2 class="travelheaderr">
           {{object.name}}
        </h2>
    </div>
    <div class="explore-travel">
        <a href="{% url 'places:detail_place' pk=object.pk %}">Explore </a>
    </div>
</div>
{% endif %}
{% endfor %}




{% endwith %}
</section>
<section class="whatihavebeeninto">
<div class="whatihavebeeninto2">
    <h1 class="h1whatihavebeeninto">
        What i have been into ?
    </h1>
    <p class="pwhatihavebeeninto">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Et quasi natus recusandae incidunt assumenda accusantium error
          dolores facere iusto nesciunt expedita,
         accusamus, totam quisquam deleniti enim maxime eos aliquid perferendis!
         Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Et quasi natus recusandae incidunt assumenda accusantium error
          dolores facere iusto nesciunt expedita,
        </p>
        <a href="" class="btn btn--brown btn--animated">View My Blogs</a>
</div>

</section>
<section class="social-section">
<div class="addressdiv section-social">
    <h1 class="address">
        Visit Me
    </h1>
    <h4 class="h4address shover">
        Kadlabal Pampore, Pulwama
    </h4>
    <h4 class="h4addres shover">
        Jammu and Kashmir, 192121
    </h4>

</div>
<style>
.socialdiv{
    background-image: linear-gradient(#d191569f, #5d2706),url("{% static 'images/09.jpg' %}") !important;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
                 position: relative;
}
</style>
<div   
            class="socialdiv section-social">
    <h1 class="follow fontis">
        Follow Me
    </h1>
    <h1 class="insta fontis">
        On instagram
        @Inayat
    </h1>
    <h1 class="fb fontis">
        On facebook
        @Inayat
    </h1>
    <h1 class="youtube fontis">
        On youtube
        @Inayat
    </h1>
</div>
</section>
{% endblock %}
<footer>

<div class="footer_copy footer_div">
    <a  class="footer_social a" href="instagram.com/x_.inayat" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    <a class="footer_social b" href="facebook.com" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
    <a class="footer_social c" href="twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
    <a class="footer_social d" href="linkedin.com" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
    <a class="footer_social e" href="tumblr.com" target="_blank"><i class="fab fa-tumblr fa-2x"></i></a>
    <h4 class="allrights">
        @2021-2025 All Rights Reserved by Inayat Bashir

    </h4>
    <small class="developer">Developed by Mumin Farooq (Muminfarooq586@gmail.com)</small>
</div>
</footer>
<script src="{% static 'js/script.js' %}"></script>
 
</body>
</html>